*.gem
*.rbc
*.bundle
*.net
*.log
**/*/.DS_Store
.vscode
.config
coverage
InstalledFiles
lib/bundler/man
pkg
html
spec/reports
test/tmp
test/version_tmp
tmp
vendor

# YARD artifacts
.yardoc
_yardoc

ext/ruby-fann/Makefile
